# Node modules directory
/node_modules/

# Build output directories
/build/
/dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# IDE or editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store      # macOS
Thumbs.db      # Windows

# Test coverage reports
/coverage/

# Dependency directories
.npm/
.yarn/

# Package manager lock files (use one, not both)
package-lock.json   # If using npm, keep package-lock.json
yarn.lock           # If using Yarn, keep yarn.lock

# ESLint cache
.eslintcache

# Other potential files to ignore:
# .cache/       # Cache for tools like Babel, Webpack, etc.
# .next/        # Next.js specific (if you're using it)
